* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.carousel {
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.5);
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
