* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    padding: 1rem;
    color: #fff;
    background-color: rebeccapurple;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}